body {
	background-color: #222222;
}

#app_name {
	color: #aa8cc5;
	text-align: left;
	font-size: 50px;
}

#overall {
	width: 100%;
	height: 100%;
}

#top_bar_list {
	list-style-type:none;
}

#top_bar_list li{
	display: inline;
	float: left;
}

#import_button {
	padding-top: 50px;
}

#time_account_portfolio {
	padding-left:10px;
	list-style-type:none;
}

#time_account_portfolio li{
	display: block;
   	float: none;
}

#time_widget {
	padding-top: 30px;
}

#time_account_portfolio {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 0px;
	color:black;
	background-color:white;
	font-size: 14px;
	text-align: center;
}

#search_bar {
	padding-top: 50px;
}

#logout_button {
	padding-left: 200px;
	padding-right: 15px;
	padding-top: 50px;

}

#center_section {
	list-style-type:none;
}

#center_section li{
	display: inline;
	float: left;
	margin-top: 30px;
}

#portfolio_table {
	background-color: #ffffff;
	height: 600px;
	width: 100%;
	overflow: auto;
	padding: 10px;
	text-align: center;
}

#table, td, th {
	border: 1px solid black;
}

#portfolio {
	width: 30%;
	background-color: #ffffff;
}

#line_graph {
	padding-left: 11px;
	width: 53%;
	overflow:auto;
}

#graph {
	padding: 7px;
	background-color: #ffffff;
	height: 400px;
	overflow:auto;
}

#legend {
	width: 13%;
	padding-left: 10px;
	overflow:auto;
}

#leg {
	padding: 7px;
	background-color: #ffffff;
	height: 200px;
	overflow:auto;
}

#bottom_list {
	list-style-type:none;
}

#bottom_list li{
	display: inline;
	float: left;
	margin-top:30px;
}

#buy_sell {
	width: 30%;
	margin-right:5px;
	overflow:auto;
	background-color: #ffffff;
	height: 280px;
	padding: 10px;
}

#sell_buy_button {
	padding-top: 10px;
}

#info_widget {
	margin-top: 50px;
	margin-left: 6px;
	height: 270px;
	background-color: #ffffff;
	width: 33%;
	padding: 5px;
	overflow:auto;
}

#watchlist_widget {
	margin-left: 11px;
	height: 280px;
	background-color: #ffffff;
	width: 34%;
	overflow:auto
}

#rec_widget {
	background-color: #ffffff;
	width: 33%;
	height: 150px;
	float: right;
	margin-top: 30px; 10px;
	margin-right:
	padding-right: 15px;
	padding-left: 5px;
	margin-bottom: 70px;

}