<!DOCTYPE html>
<html>
<head>
<!--    <link rel="stylesheet" href="style_login.css"> -->
    <title>iStock</title>
    <style>
body {
    background-color: #222222;
}

.login_div {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 28%;
    height: 130px;

}

#app_name {
    color: #aa8cc5;
    text-align: left;
    font-size: 50px;
    padding-left: 40px;
}

#login_list {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 35px;
    list-style-type:none;
}

#login_list li{
    display: block;
    float: none;
}

#button_list {
    padding-top: 5px;
    list-style-type:none;
    padding-left: 0px;
}

#button_list li{
    display: inline;
    float: left;

}
</style>
</head>
<body>
<script>
var email = "";
var password = "";
</script>
<p id="app_name">iStock</p>
<div class="login_div" >
    <ul id="login_list">
    <form action="/loginDashboard/" method="post">
        <li id="email_text_field">      
            <input type="text" id="username" name="usernameInput" placeholder="Username" style="width:80%;">
        </li>
        <li id="password_text_field">
            <input type="password" id="password" name="passwordInput" placeholder="Password" style="width: 80%;">  
            <input type="hidden" name="_METHOD" value="POST"/>
            <input type="submit" value="Login" style="background-color: #ffae19"/>
    </form> 
        </li>
        <li>
            <ul id="button_list">
                <!-- takes you to reset page -->
                <form action="/reset/" method="get">
 
                    <input type="hidden" name="_METHOD" value="GET"/>
                    <input type="submit" value="Forgot Password" style="background-color: #ffae19"/>
                </form>
                <!-- <li><button id="forgot_button" type="button" onclick="location.href='reset.phtml';" style="background-color: #ffae19">Forgot Password</button></li> -->

                
            </ul>
        </li>
    </ul>
</div>
</body>
</html>
