<!DOCTYPE html>
<html>
<head>
<!-- 	<link rel="stylesheet" href="style_login.css"> -->
	<title>iStock</title>
	<style>
body {
	background-color: #222222;
}

.login_div {
	background-color: #ffffff;
	padding-top: 10px;
	padding-bottom: 5px;
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 20%;
  	height: 110px;

}

#app_name {
	color: #aa8cc5;
	text-align: left;
	font-size: 50px;
	padding-left: 40px;
}

#login_list {
	list-style-type:none;
}

#login_list li{
	display: block;
   	float: none;
}

#button_list {
	padding-top: 5px;
	list-style-type:none;
	padding-left: 0px;
}

#button_list li{
	display: inline;
	float: left;

}
</style>
</head>
<body>
<script>
var email = "";
var password = "";
</script>
<p id="app_name">iStock</p>
<div class="login_div" >
	<ul id="login_list">
		<li id="email_text_field">
			<form action="demo_form.asp">
			<input type="text" id="email" placeholder="Email" style="width: 150px;">
			</form>
			<script>
    			email = document.getElementById("email").value;
			</script>
		</li>
		<li id="password_text_field">
			<form action="demo_form.asp">
			<input type="text" id="password" placeholder="Password" style="width: 150px;">
			</form>
			<script>
    			password = document.getElementById("password").value;
			</script>
		</li>
		<li>
			<ul id="button_list">
				<li><button id="forgot_button" type="button" onclick="location.href='reset.html';" style="background-color: #ffae19">Forgot Password</button></li>
				<li><button id="login_button" type="button" onclick="location.href='stock.html';" style="background-color: #ffae19">Login</button></li>
<!-- 				 onclick="location.href='stock.html';" -->
				<script>
					document.getElementById("login_button").addEventListener("click", function(){
    				// 	check if valid login with email and password
					});
				</script>
			</ul>
		</li>
	</ul>
</div>
</body>
</html>
