<!DOCTYPE html>
<html>
<head>
	<title>iStock</title>
	<style>
body {
	background-color: #222222;
}

.reset_div {
	background-color: #ffffff;
	padding-top: 15px;
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 28%;
    	height: 130px;

}

#app_name {
	color: #aa8cc5;
	text-align: left;
	font-size: 50px;
	padding-left: 40px;
}

#reset_list {
	list-style-type:none;
}

#reset_list li{
	display: block;
   	float: none;
}

#button_list {
	padding-top: 10px;
	list-style-type:none;
	padding-left: 0px;
}

#button_list li{
	display: inline;
	float: left;

}


	</style>
</head>
<body>
<script>
var email = "";
</script>
<p id="app_name">iStock</p>
<div class="reset_div" >
	<ul id="reset_list">
		<li id="email_text_field">
			<form action="/emailReset/" method="get">
			<input type="text" id="email" name="emailInput" placeholder="Email" style="width: 150px;">
		</li>
		<li>
			<ul id="button_list">
				<li><input type="hidden" name="_METHOD" value="GET"/>
            	<input type="submit" value="Confrim" style="background-color: #ffae19"/></li>
				</form>
				<form action="/cancelReset/" method="get">
				<li><input type="hidden" name="_METHOD" value="GET"/>
            	<input type="submit" value="Cancel" style="background-color: #ffae19"/></li> </form>
			</ul>

		</li>
	</ul>
</div>
</body>
</html>
