<!DOCTYPE html>
<html>
<head>
	<title>iStock</title>
<link rel = "stylesheet" type="text/css" href = "/css/stockstyle.css"/>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script> 
<script src="/js/stock.js"></script>
</head>
<body>

<!-- overall -->
<div class="overall" style="padding-right: 15px;">

<!-- top -->
	<div class="top_section" style="width:100%; float:right;">
		<div class="top_bar" style="width:100%; margin-left:auto; margin-right:0; ">
			<ul id="top_bar_list">
				<li style="width:15%; align:left;"><p id="app_name">iStock</p></li>
				<form action="/logout/" method="get">
				<li id="logout_button" style="width:13%; float: right;">
					<ul id="time_account_portfolio" style="width:100%;" >
						<li><input type="hidden" name="_METHOD" value="GET"/>
                    	<input type="submit" value="Logout" style="background-color: #ffae19"/>
						</li></form>
						<li>
							<p id="time_date">

							</p>
						</li>
						<li><p id="account_bal">Account Balance</p></li>
						<li><p id="portfolio_value">Portfolio Value</p></li>
						<li>
							<input type="hidden" name="_METHOD" value="GET"/>
                    		<input type="submit" value="User Manual" style="background-color: #ffae19"/>
						</li>
					</ul>
				</li>
				<li id="search_bar" style="width:10%; float: right;">
					<form action="demo_form.asp">
					<input type="text" id="search" placeholder="Search">
					</form>
				</li>
				<li id="import_button" style="width:10%; float: right;"</li><input type="hidden" name="_METHOD" value="GET"/>
                    <input type="submit" value="Import" style="background-color: #ffae19"/>

			</ul>
		</div>
	</div>

<!-- center -->
	<div class="center" style="width:100%;">
		<ul id="center_section">
			<li id="portfolio">
				<div style="width:100%; height:414px; overflow:auto;">
				<table id="portfolio_table" cellspacing="0" cellpadding="1" border="1" width="300" >
 		 			<tr>
   						<th>TICKER</th>
   						<th>COMPANY</th>
   						<th>QUANTITY</th>
   						<th>PRICE</th>
   						<th>GRAPHED</th>
  					</tr>
				</table>
				</div>
			</li>
			<li id="line_graph">
				<div id="graph">
					<p>GRAPH</p>
				</div>
			</li>
			<li id="legend">
				<div id="leg">
					<p>LEGEND
				</div>
			</li>
		</ul>
	</div>
<!-- bottom  -->
	<div class="bottom_section" style="width:100%;">
		<ul id="bottom_list">
			<li id="buy_sell" style="width:32%;">
				BUY/SELL WIDGET
				<div style="width:100%; overflow:auto;">
					<table id="buy_sell_table" style="width:100%"; cellspacing="0" cellpadding="1" border="1" width="300" style="height:400px">
 		 				<tr>
   							<th>TICKER NAME</th>
   							<th>COMPANY</th>
   							<th>QUANTITY</th>
  						</tr>
  						<tr>
    						<td>ticker</td>
    						<td>company</td>
    						<td>quantity</td>
  						</tr>
  						<tr>
    						<td>ticker</td>
    						<td>company</td>
    						<td>quantity</td>
  						</tr>
  						<tr>
    						<td>ticker</td>
    						<td>company</td>
    						<td>quantity</td>
  						</tr>
  						<tr>
    						<td>ticker</td>
    						<td>company</td>
    						<td>quantity</td>
  						</tr>
  						<tr>
    						<td>ticker</td>
    						<td>company</td>
    						<td>quantity</td>
  						</tr>
  						<tr>
    						<td>ticker</td>
    						<td>company</td>
    						<td>quantity</td>
  						</tr>
					</table>
				</div>
				<div id="sell_buy_button" style="float:left;">
					<input type="hidden" name="_METHOD" value="GET"/>
                    <input type="submit" value="Buy" style="background-color: #ffae19"/>
                    <input type="hidden" name="_METHOD" value="GET"/>
                    <input type="submit" value="Sell" style="background-color: #ffae19"/>
					
				</div>
			</li>

			<li id="info_widget" style="width:25%";>
				<p>INFO WIDGET</p>
			</li>
			<li id="watchlist_widget" style="width:35%;">
				<p>WATCHLIST WIDGET</p>
			</li>
		</ul>
	</div>
	<div id="rec_widget">
		<p>RECCOMMENDATION WIDGET<p>
	</div>
<!-- overall  -->
</div>

</body>
</html>
